In [1]:
# feature_engineering_and_split.py

import pandas as pd
from sklearn.model_selection import train_test_split

# Load the fully cleaned data
df = pd.read_csv('georgia_census_data_fully_cleaned.csv')

In [3]:
df.describe()

,Median Home Value,Median Rent,Median Household Income,Total Population,Educational Attainment (Total),Labor Force Participation,Total Housing Units,Occupied Units,Vacant Units,Owner-Occupied Units,state,place,Year
count,7026.000000,7026.000000,7026.000000,7026.000000,7026.000000,7026.000000,7026.000000,7026.000000,7026.000000,7026.000000,7026.0,7026.000000,7026.000000
mean,127611.741958,782.358952,44608.536721,7746.773271,5013.764446,316.461998,3341.575007,2896.937233,444.637774,1540.270851,13.0,43407.238685,2017.085112
std,85816.588593,258.297112,21692.378814,25790.244584,17039.285373,1237.138718,12213.702265,10359.750180,1947.699237,4974.583333,0.0,24572.071959,3.183568
min,9999.000000,190.000000,2499.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.0,184.000000,2012.000000
25%,76300.000000,614.000000,30446.000000,469.000000,309.000000,11.000000,205.000000,168.000000,31.000000,111.000000,13.0,21912.000000,2014.000000
50%,104500.000000,738.000000,39375.000000,1475.000000,972.000000,47.000000,626.000000,511.000000,90.000000,302.500000,13.0,44312.000000,2017.000000
75%,150500.000000,896.000000,52917.000000,5026.000000,3271.250000,193.000000,2158.750000,1821.000000,312.750000,1026.500000,13.0,64932.000000,2020.000000
max,859400.000000,3169.000000,250001.000000,497642.000000,343468.000000,31054.000000,255220.000000,227388.000000,45611.000000,103831.000000,13.0,85128.000000,2022.000000